<h2>Bookings</h2>
<h2>Listings</h2>


<div class="container">

  <div class='cards-home'>
  <div class="row">
    <% @listings.each do |listing| %>
    <div class="col">
      <%= link_to listing_path(listing) do %>
        <div class='card'>
          <p> <%=  cl_image_tag listing.photo.key, height: 150, width: 298, crop: :fill %></p>
            <div class='text'>
              <h4><%= listing.name %></h4>
            </div>
            <div class='description'>
              <h6> <strong>Description:</strong> <%= listing.description.first(70)%> ...</h6>
            </div>
            <div class='description'>
              <h6><strong>Location:</strong> <%= listing.location %></h4>
            </div>
            <div class='description'>
              <h6><strong>Price:</strong> <%= listing.price %> €</h4>
            </div>
            <div class='description'>
              <h6><strong>Availability:</strong> <%= listing.availability %></h4>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>
