<p id="notice"><%= notice %></p>
<div class='header'>
  <h1>All the dishes</h1>
   <div class='btn-create'><%= link_to 'Create new listing', new_listing_path() %></div>
 </div>

<<<<<<< HEAD
 <% @listings.each do |listing| %>
   <div class='card'>
     <div class='text'>
       <h4><%= listing.name %></h4>
     </div>
       <div class='description'>
         <h6> <strong>Description:</strong> <%= listing.description %></h6>
       </div>
       <div class="btn-index">
         <div class='btn-show'><%= link_to 'Show', listing_path(listing) %></div>
         <div class='btn-edit'><%= link_to 'Edit', edit_listing_path(listing) %></div>
         <div class='btn-destroy'><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></div>
 <div class='cards'>
   <% @listings.each do |listing| %>
     <div class='card'>
       <div class='text'>
         <h4><%= listing.name %></h4>
       </div>
   </div>
 <% end %>
         <div class='description'>
           <h6> <strong>Description:</strong> <%= listing.description %></h6>
         </div>
         <div class="btn-index">
           <div class='btn-show'><%= link_to 'Show', listing_path(listing) %></div>
           <div class='btn-edit'><%= link_to 'Edit', edit_listing_path(listing) %></div>
           <div class='btn-destroy'><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></div>
         </div>
     </div>
   <% end %>
 </div>
=======
<div class='header'>
  <h1>All the dishes</h1>
  <div class='btn-create'><%= link_to 'Create new listing', new_listing_path() %></div>
</div>

<div class='cards'>
  <% @listings.each do |listing| %>
    <div class='card'>
      <div class='text'>
        <h4><%= listing.name %></h4>
      </div>
        <div class='description'>
          <h6> <strong>Description:</strong> <%= listing.description %></h6>
        </div>
        <div class="btn-index">
          <div class='btn-show'><%= link_to 'Show', listing_path(listing) %></div>
          <div class='btn-edit'><%= link_to 'Edit', edit_listing_path(listing) %></div>
          <div class='btn-destroy'><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
    </div>
  <% end %>
</div>

>>>>>>> 377a12cc1beeb4d598b29ea57447bcd8c1b67ead
