<p id="notice"><%= notice %></p>
<%= button_to 'Create new listing', new_listing_path() %>

<h1>All the dishes</h1>
<div class='card'>
  <% @listings.each do |listing| %>
      <h4><%= listing.name %></h4>
      <div class='description'>
        <h6> <strong>Description:</strong> <%= listing.description %></h6>
      </div>
      <div class="btn-index">
        <div class='btn-show'><%= link_to 'Show', listing_path(listing) %></div>
        <div class='btn-edit'><%= link_to 'Edit', edit_listing_path(listing) %></div>
        <div class='btn-destroy'><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
  <% end %>
</div>
