<div class='show container my-3'>
  <h1><strong><%= @listing.name %></strong></h1>
  <p><strong>Description: </strong><%= @listing.description %></p>
  <p><strong>location: </strong><%= @listing.location %></p>
  <p><strong>Price: </strong><%= @listing.price %>€</p>
  <p><strong>Availability: </strong><%= @listing.availability %></p>
  <h6><strong>Bookings:</strong></h6>
  <ul>
    <% @listing.bookings.each do |booking| %>
      <li><h6> <%= booking.date_booking%></h6></li>
    <% end %>
  </ul>
  <p><%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %></p>
  <div class='btn btn-secondary mr-sm-4'><%= link_to "Back to all listings", listings_path %></div>
  <div class='btn btn-secondary mr-sm-4'><%= link_to "Delete listing", listing_path(@listing), method: :delete, data: {confirm: "Are you sure?"}  %></div>
</div>
