<div class='show container my-4'>
  <h1><strong><%= @listing.name %></strong></h1>
  <p><%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %></p>
  <p><strong>Description: </strong><%= @listing.description %></p>
  <p><strong>location: </strong><%= @listing.location %></p>
  <p><strong>Price: </strong><%= @listing.price %>€</p>
  <p><strong>Availability: </strong><%= @listing.availability %></p>
  <div class='btn btn-show mr-sm-4'><%= link_to "Back to all listings", listings_path %></div>
  <div class='btn btn-edit mr-sm-4'><%= link_to 'Edit', edit_listing_path(@listing) %></div>
  <div class='btn btn-destroy mr-sm-4'><%= link_to "Delete listing", listing_path(@listing), method: :delete, data: {confirm: "Are you sure?"}  %></div>
</div>
